 /* css for properties panel tabs */

 .bpp-properties-tab-bar {
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
  }
  .bpp-properties-tab-bar .scroll-tabs-button {
    cursor: pointer;
    font-size: 16px;
    padding: 3px 4px 3px 4px;
    color: #666;
  }
  .bpp-properties-tab-bar .scroll-tabs-button:hover {
    font-weight: bold;
  }
  .bpp-properties-tab-bar .scroll-tabs-button.scroll-tabs-left {
    float: left;
    margin-left: -15px;
  }
  .bpp-properties-tab-bar .scroll-tabs-button.scroll-tabs-right {
    float: right;
    margin-right: -15px;
  }
  .bpp-properties-tab-bar:not(.scroll-tabs-overflow) .scroll-tabs-button {
    display: none;
  }
  ul.bpp-properties-tabs-links {
    margin: 5px 0 -1px 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  ul.bpp-properties-tabs-links > li {
    display: inline-block;
    margin: 0;
  }
  ul.bpp-properties-tabs-links > li > a {
    display: inline-block;
    font-size: 12px;
    padding: 4px 7px;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    border-bottom: transparent;
    background-color: #f8f8f8;
    color: #666;
    text-decoration: none;
  }
  ul.bpp-properties-tabs-links > li > a:hover {
    color: #4d4d4d;
  }
  ul.bpp-properties-tabs-links > li + li {
    margin-left: 4px;
  }
  ul.bpp-properties-tabs-links > li.bpp-active a {
    padding-bottom: 5px;
    border-top: 2px solid #52B415;
    border-bottom: none;
  }
  .bpp-properties-tab,
  .bpp-properties-tab.bpp-hidden {
    display: none;
  }
  .bpp-properties-tab.bpp-active {
    display: block;
  }
  
  /* groups style properties panel */

  .bpp-properties-group {
    padding: 6px 15px 6px 15px;
    position: relative;
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.218s ease-in-out, padding-top 0.218s ease-in-out, padding-bottom 0.218s ease-in-out;
  }
  .bpp-properties-group:empty {
    display: none;
  }
  .bpp-properties-group > .group-toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    cursor: pointer;
    transition: background-color 0.218s linear;
  }
  .bpp-properties-group > .group-toggle:hover {
    background-color: #a5d687;
  }
  .bpp-properties-group > .group-label {
    font-size: 120%;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: margin 0.218s linear;
    font-style: italic;
  }
  .bpp-properties-group:hover > .group-toggle {
    background-color: #ccc;
  }
  .bpp-properties-group:hover > .group-toggle:hover {
    background-color: #a5d687;
  }
  .bpp-properties-group.group-closed {
    max-height: 20px;
    border-top: none;
    cursor: pointer;
    background-color: rgba(165, 214, 134, 0.2);
    padding-top: 0;
    padding-bottom: 0;
  }
  .bpp-properties-group.group-closed > div {
    visibility: hidden;
  }
  .bpp-properties-group.group-closed > .group-label {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .bpp-properties-group.group-closed:hover > .group-label {
    color: #52B415;
  }
  .bpp-properties-group + .bpp-properties-group {
    border-top: 1px dotted #ccc;
  }
  .bpp-properties-group:last-child {
    padding-bottom: 9px;
  }
  /* header css for properties panel */
  .bpp-properties-header {
    padding: 15px 0px;
    padding-bottom: 5px;
  }
  .bpp-properties-header > .label {
    font-size: 120%;
    font-weight: bolder;
    color:black !important;
    width:245px;
    display:block !important;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
  .bpp-properties-header > .search {
    display: none;
    margin-top: 5px;
    position: relative;
  }
  .bpp-properties-header > .search input {
    position: relative;
    border-radius: 15px;
    width: 100%;
    z-index: 1;
  }
  .bpp-properties-header > .search button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
  }
  .bpp-properties-header > .search button:before {
    content: '\E805';
  }
  
  /* properties panel */
  .bpp-properties-panel {
    position: relative;
  }
  .bpp-properties-panel:empty {
    display: none;
  }
  .bpp-properties-panel label,
  .bpp-properties-panel input {
    vertical-align: middle;
  }
  .bpp-properties-panel input,
  .bpp-properties-panel button,
  .bpp-properties-panel textarea,
  .bpp-properties-panel [contenteditable] {
    padding: 3px 6px;
    border: 1px solid #ccc;
  }
  .bpp-properties-panel input.invalid:focus,
  .bpp-properties-panel button.invalid:focus,
  .bpp-properties-panel textarea.invalid:focus,
  .bpp-properties-panel [contenteditable].invalid:focus {
    box-shadow: 0 0 1px 2px rgba(204, 51, 51, 0.2);
  }
  .bpp-properties-panel [type=text],
  .bpp-properties-panel [contenteditable],
  .bpp-properties-panel textarea,
  .bpp-properties-panel select {
    width: 100%;
  }
  .bpp-properties-panel [contenteditable],
  .bpp-properties-panel textarea {
    resize: vertical;
  }
  .bpp-properties-panel [contenteditable] {
    outline: 0px solid transparent;
    background-color: white;
    overflow-y: auto;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
  }
  .bpp-properties-panel [contenteditable]:before {
    content: "\feff ";
  }
  .bpp-properties-panel [disabled] {
    color: #808080;
  }
  .bpp-properties-panel label {
    margin-bottom: 3px;
  }
  .bpp-properties-panel .entry-label {
    font-size: 120%;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: margin 0.218s linear;
    font-style: italic;
  }
  .bpp-properties-panel .entry-label.divider {
    border-top: 1px dotted #ccc;
    padding-top: 8px;
    margin-top: 16px;
    width: 100%;
  }
  .bpp-error-message,
  .bpp-error-message.bpp-entry-link {
    margin-top: 5px;
    color: #cc3333;
  }
  .bpp-row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .bpp-row:first-of-type {
    margin-top: 0;
  }
  .bpp-row:last-of-type {
    margin-bottom: 0;
  }
  .bpp-textfield,
  .bpp-textbox {
    margin-bottom: 3px;
  }
  .bpp-radios-group {
    list-style: none;
    padding: 0;
    margin: 0 0 9px 0;
  }
  .bpp-radios-group .bpp-radio-wrapper {
    margin: 6px 0;
  }
  .bpp-radios-group input,
  .bpp-radios-group label {
    vertical-align: middle;
  }
  .bpp-radios-group input {
    margin-top: 0;
    margin-left: 0;
  }
  .bpp-radios-group input,
  .bpp-checkbox input {
    margin-left: 0;
  }
  .bpp-radios-group label:after,
  .bpp-checkbox label:after {
    display: none;
  }
  .bpp-textfield input {
    padding-right: 28px;
  }
  .bpp-textfield .clear {
    background: transparent;
    border: none;
    top: 0;
    right: 0;
  }
  .bpp-combo-input {
    margin-top: 7px;
  }
  .bpp-select select {
    height: 23px;
  }
  .bpp-select button.add {
    top: -22px;
    right: 0;
  }
  .bpp-select button.add,
  .bpp-element-list button.add,
  .bpp-select button.clear,
  .bpp-element-list button.clear {
    top: -23px;
    border-bottom: none;
  }
  .bpp-select button.add,
  .bpp-element-list button.add {
    right: 0px;
  }
  .bpp-select button.clear,
  .bpp-element-list button.clear {
    right: 23px;
  }
  .bpp-properties-entry {
    margin-bottom: 9px;
  }
  .bpp-properties-entry .bpp-field-wrapper {
    position: relative;
  }
  .bpp-properties-entry .bpp-field-wrapper input[readonly] + .clear {
    display: none;
  }
  .bpp-properties-entry .bpp-field-wrapper select {
    resize: vertical;
  }
  .bpp-hidden {
    display: none;
  }
  label.bpp-hidden {
    display: none;
  }
  .bpp-table-add-row > button {
    position: relative;
    margin-left: 10px;
  }
  .bpp-table {
    margin-top: 10px;
  }
  .bpp-table-row {
    margin-bottom: 2px;
    overflow: hidden;
  }
  .bpp-table-row > input,
  .bpp-table-row > button {
    float: left;
  }
  .bpp-table-row > label {
    padding-left: 5px;
  }
  .bpp-table-row > label.bpp-table-row-columns-1,
  .bpp-table-row > input.bpp-table-row-columns-1 {
    width: 100%;
  }
  .bpp-table-row > label.bpp-table-row-columns-1.bpp-table-row-removable,
  .bpp-table-row > input.bpp-table-row-columns-1.bpp-table-row-removable {
    width: calc(100% - 24px);
  }
  .bpp-table-row > label.bpp-table-row-columns-2,
  .bpp-table-row > input.bpp-table-row-columns-2 {
    width: 50%;
  }
  .bpp-table-row > label.bpp-table-row-columns-2.bpp-table-row-removable,
  .bpp-table-row > input.bpp-table-row-columns-2.bpp-table-row-removable {
    width: calc(50% - 12px);
  }
  .bpp-table-row > label.bpp-table-row-columns-2:nth-child(2),
  .bpp-table-row > input.bpp-table-row-columns-2:nth-child(2) {
    border-left: none;
  }
  .bpp-table-row > button {
    border-left: none;
    position: static;
  }
  .bpp-properties-static {
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #ccc;
    background-color: white;
    padding: 3px 6px;
    font: 13.3333px Arial;
    width: 100%;
  }
  .bpp-entry-link {
    cursor: pointer;
    color: #52B415;
  }
  .bpp-icon-warning:before {
    content: '\E806';
  }
  .bpp-field-description {
    margin-top: 5px;
    color: #999;
  }
  .bpp-field-description a {
    color: #3d8610;
    text-decoration: none;
  }
  .bpp-field-description a:hover {
    color: #52B415;
  }
  