@import '../../../../../var.scss';


.stakeholders-head{
    margin-left: 15px;
}
.stakeholders-hr{
    width: 88%;
    margin: 10px 0 0 32px !important;
}
.p-para{
    margin-top: 15px;
    margin-left: 15px;
}

.stakeholdersmain{
    margin-left: 0 !important;
}
.no-holders{
    text-align:center; margin:150px;
}