<div class="assets-main">
    <h3 class="assets-head">Assets</h3>
    <hr class="assets-hr">
    <p class="p-para">Lorem ipsum text messege lorem lorem </p>
    <div class="row assetssub">
      <div class="col-lg-8 assetsone">
        <h4><a class="a-newcron">+ New Assets</a></h4>
      </div>
      <div class="col-lg-8 assetstwo">
        <div class="row  assets-frstfield">
          <div class="col-lg-3 assets">
            <p>Key</p>
          </div>
          <div class="col-lg-4 assets">
            <p>value</p>
          </div>
          <div class="col-lg-5 assets">
            <p>Type
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 assetsthree">
        <div class="row rowtwo ">
          <div class="col-lg-3 cron">
            <p class="para-border">Keyname Lorem</p>
          </div>
          <div class="col-lg-4 cron">
            <p class="para-border"> Lorem Ipsum</p>
          </div>
          <div class="col-lg-5 cron">
            <p>Text
              <span class="fonticon"> <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 assetsthree">
        <div class="row rowtwo ">
          <div class="col-lg-3 cron">
            <p class="para-border">Keyname Lorem</p>
          </div>
          <div class="col-lg-4 cron">
            <p class="para-border"> Lorem Ipsum</p>
          </div>
          <div class="col-lg-5 cron">
            <p>Boolean
              <span class="fonticon"> <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 assetsthree">
        <div class="row rowtwo ">
          <div class="col-lg-3 cron">
            <p class="para-border">Keyname</p>
          </div>
          <div class="col-lg-4 cron">
            <p class="para-border"> Lorem Ipsum,******</p>
          </div>
          <div class="col-lg-5 cron">
            <p>Credentials
              <span class="fonticon"> <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>