/* Color sets */

$mainMenuColor1: #FFF;
$mainMenuBg1: #1cbbff;
$mainMenuBorderColor: #D8D8D8;

$foregroundBg1: #FFF;
$foregroundColor1: #7E7E7E;
$foregroundBg2: #FFF;
$foregroundColor2: #7E7E7E;

$backgroundBg1: #EDF4F7;
$backgroundColor1: #818191;
$backgroundBg2: #EDF4F7;
$backgroundColor2: #818191;


$primaryBg1: #1c1b3b;
$primaryColor1: #E5E5EB;
$primaryBg2: #444B86;
$primaryColor2: #5F3089;


$accentBg1: #51538F;
$accentColor1: #EEEEF0;
$accentBg2: #3D4678;
$accentColor2: #767B95;

$accentSecondaryBg1 :#3F4779;
$accentSecondaryColor1 :#828BB1;
$accentSecondaryBg2 :#3F4779;
$accentSecondaryColor2 :#575F9B;

$warnBg1: red;
$warnColor1: #EFDD0B;
$warnBg2: red;
$warnColor2: #EFDD0B;

$errorBg1: #f7d8d8;
$errorColor1: red;
$errorBg2: red;
$errorColor2: red;

$flowBg1: #4F4B82;
$flowBg2: #484678;
$flowBg3: #6A66B3;

$headerBg1: #42487F;
$headerBg2: #42487F;

$tabHeadColor1: #78519C;

$activeBg1 : #AED551;
$activeColor1 : #AED551;
$activeBg2 : #3D99B4;
$activeColor2 : #3D99B4;

$accentLinkBg1 : #358CD5;
$accentLinkColor1 : #358CD5;

$dotBg1: #555280;


$dashedLineColorPreProcess: #B6AA6A;
$dashedLineColorProcess: #74A99E;
$dashedLineColorPostProcess: #A8737A;
$dashedTextBgPreProcess: #393f6c;
$dashedTextBgProcess: #3c4274;
$dashedTextBgPostProcess: #40467e;

$logBg1: #F8FBFC;
$logBgError1: #FFF2F4;
$logLineBg1: #D7D7D7;
$logErrorTimeDot: #D0021B;
$logTimeDot: #5A2A85;
$logTimeNowBg: #FF5A11;
$logTimeNowColor: #FFF;


$subHeadBg1: #1D2664;
$subHeadBg2: #373F79;


$sidenavBg: #483D52;
$sidenavColor: #FFF;
$sidenavItemActiveBg: #2F233B;

// New set of colors
$backgroundBg3: #f0f0f0;
$backgroundBg4: #FFF;
$accentBg3: #636574;
$viewColor1: #5194E3;
$primaryBg3: #3F3E50;
$primaryColor3: #474747;
$primaryColor4: #a9a9a9;
$primaryBorderColor1: #e0dddd;
$accentColor3: #CCA0F5;
$backgroundBg5: #F1F1F1;
$backgroundBg6: #F6F6F6;
$notindexed:#667670; 
$indexed:rgb(87, 87, 89)