
.close-popup{
    position: absolute;
    right: -20px;
    top: -20px;
}

.modal-items-wrapper{
    position: relative;
}

mat-card{
    margin: 100px auto;
    width: 300px;
    padding: 5px;
    z-index: 3;
}