<div class="modal-items-wrapper" >
    <mat-spinner color="accent" diameter="20" *ngIf="isLoading"></mat-spinner>
    <mat-card class="" *ngIf="!isLoading">
      <mat-card-title>Change Password</mat-card-title>
      <app-error-message [msg]="errorMessage" *ngIf="errorMessage"></app-error-message>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" required >
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required>
      </mat-form-field>
      
      <button color="primary" class="full-width" mat-raised-button (click)="savePassword()" [disabled]="(!password || !confirmPassword)">
        {{buttonText}}
        <mat-spinner color="accent" diameter="20" *ngIf="isSaving"></mat-spinner>
      </button>
    </mat-card>
  </div>